body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.card {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 4px 19px 7px rgba(0,0,0,0.35);
    box-shadow: 1px 4px 19px 7px rgba(0,0,0,0.35);
}


