@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

:root {
    --clr-red: #e24e2a;
    --clr-white: #ffffff;
    --clr-darkBlue: #2c383b;
    --clr-lightgray: #ececec;
    --clr-darkgray: #383838;
    --clr-green: #1b9772;
    --clr-lightred: #f5c7bc;
}

html {
    font-family: Helvetica, sans-serif;
}


.bold {
    font-weight: bold;
}

.underlined {
    text-decoration: underline;
}

/* ----- HEADER ----- */

header {
    min-width: 1400px;
}

.top-bar {
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.top-bar h1 {
    font-size: 44px;
    color: var(--clr-darkBlue);
    display: inline-block;
    margin-right: 20px;
}

.top-bar p {
    font-size: 18px;
    color: var(--clr-darkBlue);
    display: inline-block;
    height: 60px;
    border-left: 1px solid var(--clr-darkBlue);
    padding-top: 23px;
    padding-left: 20px;
}

/* nav */
nav ul {
    display: flex;
    gap: 2px;
    justify-content: center;
}

nav a {
    background-color: var(--clr-lightgray);
    padding: 25px 40px;
    text-decoration: none;
    color: var(--clr-darkBlue);
}

nav a:hover {
    color: var(--clr-white);
    background-color: var(--clr-red);
}

/* main banner */
.main-banner {
    position: relative;
    width: 100%;
    height: 660px;
    overflow: hidden;
}

.main-banner img {
    position: absolute;
    object-fit: cover;
    top: -305px;
    width: 100%;
}

/* info */
.info {
    height: 243px;
    background-color: var(--clr-red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info p {

    margin: auto;
    line-height: 1.7;
    width: 70%;
    font-size: 18px;
    color: var(--clr-lightred);
    text-align: center;
}



/* ----- POINTS ----- */

#points {
    padding: 90px 50px;
    background-color: var(--clr-darkgray);
    color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#points .card {
    width: 20%;
    text-align: center;
}

#points .card h3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}

#points .card p {
    display: inline-block;
    padding-top: 20px;
    width: 100%;
    border-top: 1px solid #6c6a65;
    font-size: 14px;
    color: #6c6a65;
}

#points .card .icon {
    margin: 0 auto 20px auto;
}

#points .card .icon i {
    padding: 20px;
    background-color: var(--clr-red);
    color: var(--clr-white);
    font-size: 60px;
}

/* ----- MAIN MOTO ----- */
#main-moto {
    padding: 100px 50px;
    background-color: var(--clr-white);
    text-align: center;
}

#main-moto h2 {
    font-size: 40px;
    color: var(--clr-darkBlue);
    font-weight: normal;
    line-height: 1.1;
}

#main-moto p {
    color: #6c6a65;
    margin-bottom: 25px;
}

#main-moto .btn {
    padding: 20px 70px;
    letter-spacing: 5px;
    color: var(--clr-white);
    font-weight: bold;
    background-color: var(--clr-green);
    border: none;

}

/* ----- THIRD ----- */

#third {
    padding: 90px 50px;
    background-color: var(--clr-darkgray);
    color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#third .card {
    width: 20%;
    text-align: center;
}

#third .card h3 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 30px;
}

#third .card p {
    color: #6c6a65;
    font-size: 14px;
    line-height: 2;
}

/* ----- FOOTER ----- */

footer{
    padding: 70px 50px;
    background-color: var(--clr-green);
}

footer p {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #5bb499;
}

footer span {
    color: #9bd4c5;
}

@media screen and (max-width: 1490px) {
    .main-banner img {
        top: -105px;
    }
}